.p1 {
    font-size: 70px;
    font-family: sans-serif;
  }
  
  .navlogo {
    font-size: 25px;
  }
  
  .nav1 {
    font-size: 20px;
  }
  
  .nav2 {
    font-size: 20px;
  }
  
  .nav3 {
    font-size: 20px;
  }
  